package: clearpath_platform_msgs
messages:
  - name: DisplayStatus
    path: msg
    mapping:
      - {ros2.path: string1, proton.signal: string1, type: string}
      - {ros2.path: string2, proton.signal: string2, type: string}
  - name: Drive
    path: msg
    mapping:
      - {ros2.path: mode, proton.signal: mode, type: int32}
      - {ros2.path: drivers, proton.signal: drivers, type: float, ros2.length: 2}
  - name: DriveFeedback
    path: msg
    mapping:
      - {ros2.path: current, proton.signal: current, type: float}
      - {ros2.path: duty_cycle, proton.signal: duty_cycle, type: float}
      - {ros2.path: bridge_temperature, proton.signal: bridge_temperature, type: float}
      - {ros2.path: motor_temperature, proton.signal: motor_temperature, type: float}
      - {ros2.path: measured_velocity, proton.signal: measured_velocity, type: float}
      - {ros2.path: measured_travel, proton.signal: measured_travel, type: float}
      - {ros2.path: driver_fault, proton.signal: driver_fault, type: bool}
  - name: Fans
    path: msg
    mapping:
      - {ros2.path: fans, proton.signal: fans, type: bytes, ros2.length: 0}
  - name: Feedback
    path: msg
    stamp: header.stamp
    mapping:
      - {ros2.path: header.frame_id, proton.signal: frame_id, type: string}
      - {ros2.path: drivers, ros2.length: 2, ros2.subpath: current, proton.signal: current, type: float}
      - {ros2.path: drivers, ros2.length: 2, ros2.subpath: duty_cycle, proton.signal: duty_cycle, type: float}
      - {ros2.path: drivers, ros2.length: 2, ros2.subpath: bridge_temperature, proton.signal: bridge_temperature, type: float}
      - {ros2.path: drivers, ros2.length: 2, ros2.subpath: motor_temperature, proton.signal: motor_temperature, type: float}
      - {ros2.path: drivers, ros2.length: 2, ros2.subpath: measured_velocity, proton.signal: measured_velocity, type: float}
      - {ros2.path: drivers, ros2.length: 2, ros2.subpath: measured_travel, proton.signal: measured_travel, type: float}
      - {ros2.path: drivers, ros2.length: 2, ros2.subpath: driver_fault, proton.signal: driver_fault, type: bool}
      - {ros2.path: commanded_mode, proton.signal: commanded_mode, type: int32}
      - {ros2.path: actual_mode, proton.signal: actual_mode, type: int32}
  - name: Lights
    path: msg
    mapping:
    #   - {ros.path: lights, ros.length: 0, ros.subpath: red, proton.proton.signal: lights, proton.subindex: 0, type: bytes}
    #   - {ros.path: lights, ros.length: 0, ros.subpath: green, proton.proton.signal: lights, proton.subindex: 1, type: bytes}
    #   - {ros.path: lights, ros.length: 0, ros.subpath: blue, proton.proton.signal: lights, proton.subindex: 2, type: bytes}
      - {ros2.path: lights, ros2.subpath: red, ros2.length: 0, proton.signal: red, type: bytes}
      - {ros2.path: lights, ros2.subpath: green, ros2.length: 0, proton.signal: green, type: bytes}
      - {ros2.path: lights, ros2.subpath: blue, ros2.length: 0, proton.signal: blue, type: bytes}
  - name: PinoutCommand
    path: msg
    mapping:
      - {ros2.path: rails, proton.signal: rails, ros2.length: 0, type: bool}
      - {ros2.path: outputs, proton.signal: outputs, ros2.length: 0, type: uint32}
  - name: PinoutState
    path: msg
    stamp: header.stamp
    mapping:
      - {ros2.path: header.frame_id, proton.signal: frame_id, type: string}
      - {ros2.path: rails, proton.signal: rails, ros2.length: 0, type: bool}
      - {ros2.path: inputs, proton.signal: inputs, ros2.length: 0, type: bool}
      - {ros2.path: outputs, proton.signal: outputs, ros2.length: 0, type: bool}
      - {ros2.path: output_periods, proton.signal: output_periods, ros2.length: 0, type: uint32}
  - name: Power
    path: msg
    stamp: header.stamp
    mapping:
      - {ros2.path: header.frame_id, proton.signal: frame_id, type: string}
      - {ros2.path: shore_power_connected, proton.signal: shore_power_connected, type: int32}
      - {ros2.path: battery_connected, proton.signal: battery_connected, type: int32}
      - {ros2.path: power_12v_user_nominal, proton.signal: power_12v_user_nominal, type: int32}
      - {ros2.path: charger_connected, proton.signal: charger_connected, type: int32}
      - {ros2.path: charging_complete, proton.signal: charging_complete, type: int32}
      - {ros2.path: measured_voltages, proton.signal: measured_voltages, ros2.length: 0, type: float}
      - {ros2.path: measured_currents, proton.signal: measured_currents, ros2.length: 0, type: float}
  - name: RGB
    path: msg
    mapping:
      - {ros2.path: red, proton.signal: rgb, proton.index: 0, type: bytes}
      - {ros2.path: green, proton.signal: rgb, proton.index: 1, type: bytes}
      - {ros2.path: blue, proton.signal: rgb, proton.index: 2, type: bytes}
  - name: Status
    path: msg
    stamp: header.stamp
    mapping:
      - {ros2.path: header.frame_id, proton.signal: frame_id, type: string}
      - {ros2.path: hardware_id, proton.signal: hardware_id, type: string}
      - {ros2.path: firmware_version, proton.signal: firmware_version, type: string}
      - {ros2.path: mcu_uptime.sec, proton.signal: mcu_uptime_s, type: int32}
      - {ros2.path: mcu_uptime.nanosec, proton.signal: mcu_uptime_ns, type: uint32}
      - {ros2.path: connection_uptime.sec, proton.signal: connection_uptime_s, type: int32}
      - {ros2.path: connection_uptime.nanosec, proton.signal: connection_uptime_ns, type: uint32}
  - name: StopStatus
    path: msg
    stamp: header.stamp
    mapping:
      - {ros2.path: header.frame_id, proton.signal: frame_id, type: string}
      - {ros2.path: stop_power_status, proton.signal: stop_power_status, type: bool}
      - {ros2.path: external_stop_present, proton.signal: external_stop_present, type: bool}
      - {ros2.path: needs_reset, proton.signal: needs_reset, type: bool}
  - name: Temperature
    path: msg
    stamp: header.stamp
    mapping:
      - {ros2.path: header.frame_id, proton.signal: frame_id, type: string}
      - {ros2.path: temperatures, proton.signal: temperatures, ros2.length: 0, type: float}

